version: "3.8"
services:
  trading-bot:
    build: .
    container_name: options-bot
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
      - "9090:9090"
    volumes:
      - ./logs:/usr/src/app/logs
      - ./reports:/usr/src/app/reports
